.intro_home{
    margin: 2.3rem;
    padding: .25rem;
}
.intro_home button{
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    background-color: blueviolet;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}
.intro_home p{
    padding: 5px;
    margin-top: 1rem;
}