.price_category{
    margin: 2rem;
    padding: 0 1rem;
}
.category1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #555;
    padding: 1rem;
}
.category1 #header{
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    
   }
.category1 #subtitle{
  list-style: none;
  font-size: 0.75rem;
  color: #fff;
}
.price1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    margin-bottom: 2rem;
}
.price1 #header{
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;  
}
.price1 #subtitle{
    list-style: none;
    font-size: 0.75rem;
    color: #fff;
}
.category2{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1167b1;
    padding: 1rem;
}
.category2 #header{
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    
   }
.category2 #subtitle{
  list-style: none;
  font-size: 0.75rem;
  color: #fff;
}
.price2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03254c;
    padding: 1rem;
    margin-bottom: 2rem;
}
.price2 #header{
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;  
}
.price2 #subtitle{
    list-style: none;
    font-size: 0.75rem;
    color: #fff;
}
.category3{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6b400;
    padding: 1rem;
}
.category3 #header{
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    
   }
.category3 #subtitle{
  list-style: none;
  font-size: 0.75rem;
  color: #fff;
}
.price3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e69b00;
    padding: 1rem;
    margin-bottom: 2rem;
}
.price3 #header{
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;  
}
.price3 #subtitle{
    list-style: none;
    font-size: 0.75rem;
    color: #fff;
}
li{
    list-style: none;
}

.price_category .regbtn li a{
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    justify-content: center;
    background-color: blueviolet;
    color: #fff;
    text-decoration: none;
    width: 5rem;
}
.price_category .regbtn{
    display: flex;
    justify-content: center;
}